@sand: #F6F5F3;
@sea1: #A1BBC5;
@sea2: #738790;
@sea3: #4A5A61;
@accent: #E95223;

@import url(maki-sprite.css);

body, html{
  height: 100%;
  background: white;
  margin: 0;
  padding: 0;
  a{
  }
}

.huge{
  font-size: 64px;
}

.maki-icon{
  color: #222;
  text-shadow: 
    0 0 0px #fff, 
    1px 0 0px #fff, 
    0 1px 0px #fff,
    -1px 0 0px #fff, 
    0 -1px 0px #fff;
    -webkit-text-stroke: 1px white outside;
  display: block;
  font: 13px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  z-index: 6;
  text-indent: 26px;
  span{ display: none; }
}

.hide-labels{
  .maki-icon{
    overflow: hidden;
  }
}

.en{ .maki-icon span.lang-en{ display: inline; } }
.jp{ .maki-icon span.lang-jp{ display: inline; } }

header{
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  background: rgba(255,255,255,0.9);
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  .logo{
    margin-top: -2px;
    margin-right: 10px;
    max-height: 50px;
    vertical-align: baseline!important;
  }
}

.hero{
  background: url(../img/trees.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: center;
  .row{
    position: relative;
    top: 160px;
    .on-photo{
      color: white;
      text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 12px black;
      // -webkit-text-stroke: 1px black;
    }
  }
  img{
    max-width: 100%;
  }
}

.logo-float{
  position: fixed;
  top: 20px;
  left: 20px;
  display: block;
  width: 120px;
  height: 80px;
  z-index: 20;
  background: url(../img/hikr-jp-big.png) center center no-repeat;
  background-size: 100%;
  text-indent: 100%;
  overflow: hidden;
}
header{
  .logo{
    margin-top: -2px;
    margin-right: 10px;
    max-height: 50px;
    vertical-align: baseline!important;
  }
}
.column{
}
.header{
  width: 100%;
  min-height: 120px;
  position: relative;
  padding-top: 40px;
  h1{
    margin: 0 20px 0 20px;
  }
}
.info{
  min-height: 80px;
  position: relative;
  display: table;
  width: auto;
  margin: 0 20px;
  .col{
    width: 50%;
    margin: 0;
    float: left;
  }
  #infobox{
    font-family: helvetica, Arial, sans-serif;
    padding: 10px 10px;
    color: @sea3;
    font-weight: bold;
    line-height: 25px;
    margin: 10px 10px;
    display: table-row;
    width: 100%;
    .infopoint{
      display: table-cell;
      padding-right: 20px;
      &.level{
        div{
          font-size: 18px;
          line-height: 45px;
        }
      }
      label{
        margin-top: 15px;
        display: block;
        font-size: 10px;
        font-weight: 100;
        line-height: 9px;
        border-bottom: 1px solid fadeout(@sea3, 50%);
        text-transform: uppercase;
      }
      div{
        font-size: 33px;
        line-height: 45px;
      }
    }
  }
  #plot{
    display: table-row;
    height: 120px;
    padding: 0 10px;
    position: relative;
    canvas{
      display: table-cell;
    }
  }
}
.map-on-left, .map-on-left > .column{
  height: 100%;
}
.map-on-left{
  width: 100%;
  height: 100%;
  #map{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 600px;
    .coords{
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 100;
    }
  }
  .map-column{
    height: 100%;
  }
  .article{
    padding: 20px 20px;
  }
}
.navbar{
  margin-bottom: 0;
}

.infobox{
  float: right;
  width: 200px;
}

.article-container{
  position: absolute;
  right: 0;
  width: 600px;  
}

.article{
  font-weight: 200;
  font-size: 14px;
  h1, h2, h3, h4, h5{
    text-transform: uppercase;
    margin-top: 1.5em;
    padding-top: 1.5em;
    margin-bottom: 0.3em;
    border-top: 1px solid fadeout(@sea3, 50%);
  }
  h1 { font-size: 150%; }
  h2 { font-size: 120%; }
  h3 { font-size: 110%; }
  h4 { font-size: 100%; }
  h5 { font-size: 90%; }
  a{
    color: @sea1;
  }
  ul{
    margin: 0 3em;
    line-height: 2.0;
    color: #222;
  }
  p{
    line-height: 1.8;
    color: #222;
    text-shadow: 2px 2px 0px #fff!important;
    margin: 1em 0;
  }
  img{
    max-width: 100%;
    border-radius: 3px;
  }
  h1, h2{
    color: #820;
    text-shadow: 2px 2px 0px #fff!important;
  }
}