@sand: #F6F5F3;
@sea1: #A1BBC5;
@sea2: #738790;
@sea3: #4A5A61;
@theme: #A63626;
@accent: #E95223;
@white: #f8f8f8;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@import url(maki-sprite.css);

body{color:#222;font-size:16px;font-family:"Open sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:300;background:#fff}

body, html{
  height: 100%;
  background: @white;
  margin: 0;
  padding: 0;
  a{
  }
}

.section{
  clear: both;
}

ul, menu, dir{
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-start: 0;
}

.huge{
  font-size: 64px;
}

.flickr-photo{
  position: relative;
  .caption{
    color: white;
    padding: 1px 3px;
    font-size: 70%;
    text-align: right;
    position: absolute;
    bottom: 4px;
    -webkit-transition: background, 0.5s;
    right: 0px;
    a{
      color: white!important;
    }
  }
  &:hover{
    .caption{
      background: rgba(0,0,0,0.7);
      -webkit-transition: background, 0.5s;
    }
  }
}


.maki-icon{
  color: #222;
  text-shadow:
    0 0 0px #fff,
    1px 0 0px #fff,
    0 1px 0px #fff,
    -1px 0 0px #fff,
    0 -1px 0px #fff;
    -webkit-text-stroke: 1px white outside;
  display: block;
  font: 13px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  z-index: 6;
  text-indent: 26px;
  span{ display: none; }
}

.hide-labels{
  .maki-icon{
    overflow: hidden;
  }
}

.en{
  .maki-icon span.lang-en{ display: inline; }
  .maki-icon span.lang-jp{ display: none; }
}
.jp{
  .maki-icon span.lang-jp{ display: inline; }
  .maki-icon span.lang-en{ display: none; }
}

header{
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  background: rgba(255,255,255,0.9);
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  .logo{
    margin-top: -2px;
    margin-right: 10px;
    max-height: 50px;
    vertical-align: baseline!important;
  }
}

.hero{
  background: url(../img/trees.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: center;
  .row{
    position: relative;
    top: 160px;
    .on-photo{
      color: white;
      text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 12px black;
      // -webkit-text-stroke: 1px black;
    }
  }
  img{
    max-width: 100%;
  }
}

.leaflet-control-language{
  font-size: 15px;
  line-height: 22px;
}
.leaflet-control-language-interior:before{
  content: "あ";
}

.jp .leaflet-control-language-interior:before{
  content: "A";
}

header{
  .logo{
    margin-top: -2px;
    margin-right: 10px;
    max-height: 50px;
    vertical-align: baseline!important;
  }
}
.column{
}
.header{
  width: 100%;
  min-height: 120px;
  position: relative;
  padding-top: 40px;
  h1{
    margin: 0 20px 0 20px;
  }
}
.info{
  min-height: 80px;
  position: relative;
  display: table;
  width: 100%;
  margin: 16px 0;
  .col{
    width: 50%;
    margin: 0;
    float: left;
  }
  #infobox{
    font-family: helvetica, Arial, sans-serif;
    padding: 10px 10px;
    color: @sea3;
    font-weight: bold;
    line-height: 25px;
    margin: 10px 10px;
    display: table-row;
    width: 100%;
    .infopoint{
      display: table-cell;
      padding-right: 20px;
      &.level{
        div{
          font-size: 18px;
          line-height: 45px;
        }
      }
      label{
        margin-top: 15px;
        display: block;
        font-size: 10px;
        font-weight: 100;
        line-height: 9px;
        border-bottom: 1px solid fadeout(@sea3, 50%);
        text-transform: uppercase;
      }
      div{
        font-size: 33px;
        line-height: 45px;
      }
    }
  }
  #plot{
    display: table-row;
    height: 120px;
    padding: 0 10px;
    position: relative;
    canvas{
      display: table-cell;
    }
  }
}

.left-side{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  min-width: 300px;
  background: url('http://farm6.staticflickr.com/5471/10270896826_63c810d7c3_k.jpg');
  background-size: auto 100%;
  background-position: center center;
  .motto{
    position: absolute;
    bottom: 0;
    margin: 16px;
    font-size: 24px;
    color: white;
    text-shadow: 0 0 5px black;
  }
}

h6{
  color: @accent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
}

:not(.icon).tag{
  background-color: @sea1;
  &:hover{
    background-color: @sea2;
  }
}

.right-side{
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  width: 80%;
  background: @white;
  border-left: 1px solid white;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
  overflow: scroll;
  .container{
    position: absolute;
    left: 0;
    top: 0;
    width: 960px;
    img{
      width: 100%;
    }

  }
}

.section{
  margin: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}


.row{
  width: 990px;
  position: relative;
  left: -32px;
}

.column-6{
  width: 463px;
  float: left;
  margin-left: 16px;
  padding-left: 15px;
  border-left: 1px solid #ccc;
  &.first{
    border-left: none;
    padding-left: 16px;
  }
}

.column-3{
  width: 240px;
  float: left;
  padding: 0;
}

.footer{
  background-color: white;
  border-top: 1px solid #bbb;
}

.thumb-box{
  width: 160px;
  float: left;
  background: white;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 16px;
  margin-bottom: 16px;
  .header-image{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .headings{
    margin: 8px;
    height: 40px;
    overflow: hidden;
    h2{
      font-size: 14px;
    }
  }
}

.blurb-box{
  border-left: 1px solid #ccc;
  font-size: 90%;
  margin-left: 16px;
  min-height: 310px;
  .blurb-inside{
    margin-left: 16px;
  }
  &.first{
    border: 0;
    .blurb-inside{
    }
  } 
  h2{
    font-size: 120%;
  }
  h4{
    font-size: 90%;
  }
}

.area{
  color: @theme;
  font-size: 90%;
}

.summary-box{
  .header-image{
    width: 100%;
    img{
      width: 100%;
      // -webkit-filter: hue-rotate(330deg) sepia(0.1);
    }
    a:hover{
      img{
        -webkit-filter: none;
      }
    }
  }
  .headings{
    width: 49%;
    float: left;
    margin-right: 1%;
  }
  .summary{
    width: 49%;
    float: left;
    margin-left: 1%;
  }
  &.vertical{
    .header-image{
      width: 47%!important;
      margin-right: 3%;
      float: left;
      clear: left;
    }
    .headings{
      width: 48%;
      margin-left: 1%;
    }
    .summary{
      float: left;
      margin-top: 16px;
      width: 48%;
      margin-left: 1%;
    }
  }
}

.hikr-sidebar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;

  .logo-float{
    position: fixed;
    top: 20px;
    left: 20px;
    display: block;
    width: 125px;
    height: 75px;
    z-index: 20;
    background: url(../img/logo-mini.png) center center no-repeat;
    background-size: 100%;
    text-indent: 100%;
    overflow: hidden;
  }

  .hikr-menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 160px;
    background-color: rgba(0,0,0,0.8);
    border-right: 1px solid black;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    -webkit-transform: translate3d(-190px,0,0);
    -webkit-transition: -webkit-transform, 0.25s;

    ul{
      margin-top: 100px;
      list-style: none none;
      border-top: 1px solid rgba(0,0,0,0.9);
      border-bottom: 1px solid rgba(255,255,255,0.1);
      li{
        position: relative;
        left: 1px;
        width: 100%;
        border-right: 4px solid transparent;
        &.active{
          border-right: 4px solid @accent;
          a{
            background-color: black;
            color: white;
          }
          a:hover{
            background-color: black;
          }
        }
        a{
          border-tops: 1px solid rgba(0,0,0,0.9);
          border-bottom: 1px solid rgba(255,255,255,0.1);
          padding-left: 15px;
          display: block;
          color: @sea1;
          line-height: 32px;
          text-transform: uppercase;
          clear: both;
          &:hover{
            color: black;
            background-color: rgba(0,0,0,0.5);
          }
          .icon{
            display: block;
            float: left;
            width: 25px;
            text-align: center;
          }
        }
      }
    }
  }
  &:hover{
    .hikr-menu{
      -webkit-transform: translate3d(0,0,0);
    }
  }
}

.map-on-left, .map-on-left > .column{
  height: 100%;
}
.map-on-left{
  width: 100%;
  height: 100%;
  #map{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 600px;
    .coords{
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 100;
    }
  }
  .map-column{
    height: 100%;
  }
}
.navbar{
  margin-bottom: 0;
}

.infobox{
  float: right;
  width: 200px;
}

.article-container{
  position: absolute;
  right: 0;
  width: 600px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  img{
    max-width: 100%;
  }
}

.article{
  font-weight: 200;
  font-size: 15px;
  .flickr-photo{
    width: 100%;
    img{
      width: 100%;
    }
  }
  h1, h2, h3, h4, h5{
    text-transform: uppercase;
    margin-top: 0.5em;
    padding-top: 1.0em;
    margin-bottom: 0.3em;
    // border-top: 1px solid fadeout(@sea3, 50%);
  }
  h1 { font-size: 150%; }
  h2 { font-size: 120%; }
  h3 { font-size: 110%; }
  h4 { font-size: 100%; }
  h5 { font-size: 90%; }
  a{
    color: @sea1;
  }
  ul{
    margin: 0 3em;
    line-height: 2.0;
    color: #222;
  }
  p{
    line-height: 1.8;
    color: #222;
    text-shadow: 2px 2px 0px #fff!important;
    margin: 1em 0;
  }
  h1, h2{
    color: @accent;
    text-shadow: 2px 2px 0px #fff!important;
  }
}

.leaflet-control-language-interior
{
    width: 25px;
    height: 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
}

