.leaflet-label {
	background-clip: padding-box;
	color: #fff;
	text-shadow: 0 0 2px #000, 1px 0 2px #000, 0 1px 2px #000;
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 1px 3px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	z-index: 6;
}

.leaflet-label.leaflet-clickable {
	cursor: pointer;
}

.leaflet-label:before {
	content: '\25C0';
	position: absolute;
	text-shadow: 0 0 2px #000, 1px 0 2px #000, 0 1px 2px #000, -1px 0 2px #000, 0 -1px 2px #000;
	left: -10px;
}