---
layout: default
---
  <div class="hikr-sidebar">
    <a href="{{site.url}}" class="logo-float">
      hikr.jp
    </a>
    <div class="hikr-menu">
      <br>
      <ul>
        <li class="active"><a href="/guide"><span class="icon map-marker"></span>&nbsp;Guide</a></li>
        <li><a href="/schedule"><span class="icon calendar"></span>&nbsp;Schedule</a></li>
        <li><a href="/groups"><span class="icon group"></span>&nbsp;Groups</a></li>
      </ul>
      <ul>
        <li><a href="/login"><span class="icon user"></span>&nbsp;Log in</a></li>
      </ul>
    </div>
  </div>
{{ content }}