!!!html
%html
  %head
    %title Hikr -
    %meta{:charset => "utf-8"}/
    %meta{:content => "initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
    %meta{:name => "author", :value => "Leszek Rybicki, Copyright by hikr.jp"}/
    %meta{:name => "keywords", :value => "hiking, geocaching, japan"}/
    %meta{:name => "description", :value => ""}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/css/leaflet.css", :rel => "stylesheet"}/
    %link{:href => "/css/leaflet.draw.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap-theme.css", :rel => "stylesheet"}/
    %link{:href => "/css/hikr.css", :rel => "stylesheet"}/
    %script{:src => "/js/jquery-2.0.3.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.flot.js", :type => "text/javascript"}
    %script{:src => "/js/leaflet.js", :type => "text/javascript"}
    %script{:src => "/js/leaflet.draw.js", :type => "text/javascript"}
    %script{:src => "/js/bootstrap.min.js", :type => "text/javascript"}
  %body.en
    =yield

    / // <script type="text/javascript" src="/js/Panoramio.js"></script>
    %script{:src => "/js/hikr.js", :type => "text/javascript"}
    :javascript
      var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2132560-9']);
          _gaq.push(['_setDomainName', 'hikr.jp']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();