<!doctype html>
<html>
<head>
  <title>Hikr{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="author" value="Leszek Rybicki, Copyright by hikr.jp">
  <meta name="keywords" value="hiking, japan {% if page.keywords %}, {{page.keywords | array_to_sentence_string }} {% endif %} }}">
  <meta name="description" value="">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{site.url}}/lib/leaflet/dist/leaflet.css"/>
  <link rel="stylesheet" href="{{site.url}}/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/hikr.css"/>
  <script type="text/javascript" src="{{site.url}}/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="{{site.url}}/lib/modernizr/modernizr.js"></script>
</head>
<body class="en {{page.bodyclass}}">
  <header>
    <a href="/" class="logo-menu">hikr.jp</a>
    <form id="search_form">
    <div class="hikr-menu">
      <ul id="main-menu">
        <li class="{{ page.menu.guide }}"><a href="/">Guide</a></li>
        <li class="{{ page.menu.about }}"><a href="/about/">About</a></li>
      </ul>
    <!--   <div class="search-bar">
        <input name="search" placeholder="Search">
      </div>
     --></div>
    <div class="search-results">
    </div>
    </form>
  </header>
  {{content}}
  <script type="text/javascript" src="{{site.url}}/lib/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="{{site.url}}/lib/backbone/backbone.js"></script>
  <script type="text/javascript" src="{{site.url}}/lib/leaflet/dist/leaflet.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/hikr.js"></script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2132560-9']);
      _gaq.push(['_setDomainName', 'hikr.jp']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</body>
</html>