---
layout: guide
bodyclass: home
menu: 
  guide: active
---
<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-12">
        {{ content }}        
    </div>
    <div class="col-md-2 hidden-sm hidden-xs visible-md visible-lg">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- vertical column on home -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-6515639449659940"
     data-ad-slot="9633761771"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
  </div>
    <div class="row visible-sm visible-xs align-center">
        <div class="col-md-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mobile width -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:50pxl text-align: center"
     data-ad-client="ca-pub-6515639449659940"
     data-ad-slot="4101932173"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
    </div>
</div>
