---
layout: map
menu:
  guide: active
---
<div class="map-on-left">
  <div id="map">
    <div class="coords"></div>
  </div>
  <div class="article-container">
    {% include mainmenu.html %}
    <div class="section">
    <h2>{{page.label.en}} ({{page.label.jp}})</h2>
    <br>
    {{content}}
    <hr>
    {% assign url = page.url %}
    {% for page in site.pages %}
     {% for f in page.features %}
      {% if f == url %} <div class="thumb"> {%include blurb.html %} </div> {% endif %}
     {% endfor %}
    {% endfor %}
      <br class="clear">
    </div>
     <script type="text/javascript">
  window.onload = function(){
    var maps = [ "/data/area/{{page.area}}.json", {% for url in page.map %} "{{url}}", {% endfor %} false];
    hikr = new Hikr("map");
    hikr.loadMaps(maps);
  };
 </script>
  </div>
</div>


