 <div class="blurb-box {{ page.header_class }} {{ include.classes }} {% if page.header_image %}{% else %} noimg {% endif %}">
  <div class="blurb-inside">
    <a href="{{page.url}}">
      <div class="header-image" style="background-image: url({% if page.header_image %}{{ page.header_image | furl }}{% else %}/img/noimg.png{% endif %})"> 
      <div class="blurb-title"><h2>{{page.title}}</h2></div>
      </div>
    </a>
  <div class="headings">
    <h4 class="area"><a href="/area/{{page.area}}.html">{{page.area}}</a>, <a href="/pref/{{page.prefecture}}.html">{{page.prefecture}}</a></h4>
  </div>
  </div>
</div>