<script type="template/html" id="comment_template">
<%= text %>  
</script>

<div id="#comments">
  <div class="comments">
  </div>
  <div class="your-comment">
    <form id="comment_form">
      <textarea name="comment"></textarea>
      <input class="btn" type="submit" value="Send">
    </form>
  </div>
</div>

<script type="text/javascript">
  Parse.initialize("8rQBmsZtwJ6dK8e2NfV5vKuVSu3Xs2itGCg06VKW", "9eCdVPXKYYWZcHYlleq2lowex4uvh7Odcvgn0Qpm");

  var Comment = Parse.Object.extend("Comment");

  var currentUser = Parse.User.current();

  if(currentUser){

  }else{
    Parse.User.logIn("leszek", "test123", {
      success: function(user) {
        alert("ok");
      },
      error: function(user, error) {
        alert("ng");
      }
    });
  }



var CommentListView = Parse.View.extend({
  el: $(".comments")[0],
  initialize: function(){

  },
  onAdd: function(cmt){
    this.$el.prepend(new CommentView(cmt));
  }
});

var CommentView = Parse.View.extend({
  template: _.template($("#comment_template").html()),
  tagName: 'div',
  className: 'comment',
  initialize: function(){
    this.model.on("change", "dataChanged", this);
    console.log("attached");
  },
  render: function(){
    this.$el.html(this.template(this.model.toJSON()) );
    return this;
  },
  dataChanged: function(){
    // update vie
  }
});

  $(document).ready(function(){
    var thisPage = document.location.href;
    var query = new Parse.Query(Comment);
    query.equalTo("page",thisPage).find({
      success:function(results){
        for(var i in results){
          var cmt = results[i];
          var v = new CommentView({model:cmt});
          v.render();
          $(".comments").append(v.$el);
          var user = cmt.get("user");
        }
        console.log(results);
      }
    })

    $("#comment_form").on("submit",function(e){
      e.preventDefault();
      var c = new Comment();
      c.set("text",$(this).find("[name=comment]").val());
      c.set("user",Parse.User.current);
      c.set("page",thisPage);
      c.save(null, {success:function(cmt){
        var v = new CommentView({model: cmt});
        v.render();
        $(".comments").append(v.$el);
        $("[name=comment]").val("");
      }});
      return false;
    })
  });

</script>