---
layout: guide
---

<div class="map-on-left">
  <div id="map">
    <div class="coords"></div>
  </div>

  <div class="article-container">
      {% include summary.html %} 
      <div class="info">
        <div id="plot"></div>
        <br style="clear: both">
        {% include infobox.html %}
      </div>
      <div class="article">      
       {{ content }}
       <br><br>
      <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520873ed40bfdc8e"></script><br>
        <!-- AddThis Button END -->
    </div>
  </div>
</div>
 <script type="text/javascript">
  window.onload = function(){
    var maps = [ {% for url in page.map %} "{{url}}", {% endfor %} false];
    hikr = new Hikr("map");
    hikr.loadMaps(maps);
  };
 </script>