<!doctype html>
<html>
<head>
  <title>Hikr - {{ page.title }} </title>
  <meta name="charset" value="utf-8">
  <link rel="icon" type="image/png" href="{{site.url}}/img/favicon.png" />
  <link rel="stylesheet" href="{{site.url}}/css/leaflet.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/leaflet.label.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/tuktuk.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/tuktuk.icons.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/tuktuk.theme.css"/> 
  <link rel="stylesheet" href="{{site.url}}/css/hikr.css"/>
</head>
<body>
  <div class="dropdown">
    <a href="{{site.url}}" data-toggle="dropdown" class="logo">
      HIKR.jp
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
  </div>

  {{content}}

  <script type="text/javascript" src="{{site.url}}/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/jquery.flot.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/leaflet.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/leaflet.label.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/Panoramio.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/hikr.js"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2132560-9']);
      _gaq.push(['_setDomainName', 'hikr.jp']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</body>
</html>