<!doctype html>
<html>
<head>
  <title>Hikr - {{ page.title }} </title>
  <!-- <link rel="stylesheet" href="{{site.url}}/css/bootstrap.min.css"/> -->
  <link rel="stylesheet" href="{{site.url}}/css/leaflet.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/leaflet.label.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/hikr.css"/>
</head>
<body>
  <div class="dropdown">
    <a href="{{site.url}}" data-toggle="dropdown" class="logo">
      HIKR.jp
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
  </div>

  {{content}}

  <script type="text/javascript" src="{{site.url}}/js/jquery-2.0.3.min.js"></script>
  <script type="text/javasceipt" src="{{site.url}}/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/leaflet.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/leaflet.label.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/Panoramio.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/hikr.js"></script>

{% if page.map %}
    <script>
      var map = L.map('map').setView([ 35.358, 138.731], 6);
//http://a.tiles.mapbox.com/v3/hikr.map-bcefinb2/page.html
//'http://{s}.tiles.mapbox.com/v3/hikr.map-gtn520tv/{z}/{x}/{y}.png
      var bg = L.tileLayer('http://{s}.tiles.mapbox.com/v3/hikr.map-gtn520tv/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">MapBox</a>, Photos from Panoraio are copyright of their respctive owners.',
            maxZoom: 15
      });
      map.zoomControl.setPosition("topright");

      var panoramio = new L.Panoramio({maxLoad: 50, maxTotal: 250});
      map.addLayer(bg);
      map.addLayer(panoramio);
      var layers = { "Map": bg };
      var overlays = { "Photos": panoramio };
      var control_layers = new L.Control.Layers(layers, overlays).addTo(map);

      var icons = {
        none: L.icon({iconUrl:"/icons/train.png",  labelAnchor: [1, 1], iconSize: [1,1], iconAnchor: [1,1]}),
        station: L.icon({iconUrl:"/icons/train.png",  labelAnchor: [0, 0], iconSize: [32,37], iconAnchor: [24,30]}),
        toilet: L.icon({iconUrl:"/icons/toilets.png", labelAnchor: [0, 0], iconSize: [32,37], iconAnchor: [24,30]}),
        pass: L.icon({iconUrl:"/icons/pass.png", labelAnchor: [0, 0], iconSize: [32,37], iconAnchor: [24,30]}),
        waterfall: L.icon({iconUrl:"/icons/waterfall.png", labelAnchor: [0, 0], iconSize: [32,37], iconAnchor: [24,30]})
      }

      var myStyle = {
          "color": "#ff3300",
          "weight": 4,
          "opacity": 0.85
      };

      $(document).ready(function(){
        $.get('{{page.map}}',function(data){
          var geojsonFeature = data;
          // L.geoJson(geojsonFeature).addTo(map);
          var myLayer = L.geoJson(data,{
            style: myStyle,
            pointToLayer: function(feature, latlng){
              var marker=L.marker(latlng, {icon:icons.none});
              if(feature && feature.properties.hasOwnProperty("type")){
                var type = feature.properties.type;
                if(icons.hasOwnProperty(type)) marker =  L.marker(latlng, {icon:icons[type]});
                else console.log(type);
              }
              if(feature.properties.hasOwnProperty("label"))
                marker.bindLabel(feature.properties.label,{noHide: true});
              else if(feature.properties.hasOwnProperty("name"))
                marker.bindLabel(feature.properties.name,{noHide: true});
              marker.addTo(map).showLabel();
              return marker;
            },
            onEachFeature: function(feature, latLng){
            }
          }).addTo(map);
          // myLayer.addData(geojsonFeature).setStyle(myStyle);
          var bounds = myLayer.getBounds();
          map.fitBounds(bounds);
        });
      })
    </script>
{% endif %}

</body>
</html>