<!doctype html>
<html>
<head>
  <title>Hikr - {{ page.title }} </title>
  <meta name="charset" value="utf-8">
  <link rel="icon" type="image/png" href="{{site.url}}/favicon.png" />
  <!-- <link rel="stylesheet" href="{{site.url}}/css/bootstrap.min.css"/> -->
  <link rel="stylesheet" href="{{site.url}}/css/leaflet.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/leaflet.label.css"/>
 <!--  <link rel="stylesheet" href="{{site.url}}/css/tuktuk.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/tuktuk.icons.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/tuktuk.theme.css"/> -->
  <link rel="stylesheet" href="{{site.url}}/css/hikr.css"/>
</head>
<body>
  <div class="dropdown">
    <a href="{{site.url}}" data-toggle="dropdown" class="logo">
      HIKR.jp
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
  </div>

  {{content}}

  <script type="text/javascript" src="{{site.url}}/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/jquery.flot.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/tuktuk.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/leaflet.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/leaflet.label.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/Panoramio.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/hikr.js"></script>

{% if page.map %}
 <script>
  var maps = [ {% for url in page.map %} "{{url}}", {% endfor %} false];
  Hikr(maps);
 </script>
{% endif %}

</body>
</html>