---
layout: guide
menu: 
  guide: active
---

<div class="hikr-content">
  <div class="left-side">
    <div class="motto">Hiking. With friends.</div>
  </div>
  <div class="right-side">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="column-6 first">
            {{ content }}
            <h4>Prefectures</h4>
            {% for pref in site.prefecture_names %}
              <a href="/pref/{{pref}}.html">{{ pref }}</a>&nbsp;
            {% endfor %}
            <hr>
              <h4>Tags</h4>
            {% for tag in site.tag_names %}
              <a href="/tag/{{tag}}.html" class="tag large">{{site.tags[tag].size}} | {{ tag }}</a>
            {% endfor %}
          </div>
          <div class="column-6">{% for page in site.pages %} {% if page.featured == 'header' %} {% include summary.html %}{% endif %}{% endfor %} </div>
        </div>
      </div>
      <div class="section">
        <div class="row">
        {% assign c = 'first' %}
        {% for page in site.pages %} {% if page.featured == 'also' %}
          <div class="column-3 {{c}}">
            {% include blurb.html classes=c %}
            {% assign c = '' %}
          </div>
          {% endif %} {% endfor %}
        <br class="clear">
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="section">
        fff
      </div>
    </div>
  </div>
</div>
