---
layout: guide
menu: 
  guide: active
---

<div class="hikr-content">
  <div class="left-side">
    <div class="motto">Hiking. With friends.</div>
  </div>
  <div class="right-side">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="column-6 first">
            {% for area in site.area_names %}
              <a href="/area/{{area}}.html">{{ area }}</a><br>
            {% endfor %}
        {{ content }}
          </div>
          <div class="column-6">{% for page in site.pages %} {% if page.featured == 'header' %} {% include summary.html %}{% endif %}{% endfor %} </div>
        </div>
      </div>
      <div class="section">
        <div class="row">
        {% assign c = 'first' %}
        {% for page in site.pages %} {% if page.featured == 'also' %}
          <div class="column-3 {{c}}">
            {% include blurb.html classes=c %}
            {% assign c = '' %}
          </div>
          {% endif %} {% endfor %}
        <br class="clear">
        </div>
      </div>
      <div class="footer">
        foo - ter
      </div>
    </div>
  </div>
</div>
