---
layout: guide
---

<div class="hikr-content">
  <div class="left-side">
    <div class="motto">Hiking. With friends.</div>
  </div>
  <div class="right-side">
    <div class="container">
      <div class="section">
        {{ content }}
      </div>
      <div class="section">
        {% for page in site.pages %}
          {% if page.featured %}
            {% include summary.html %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="section">
        {% for area in site.area_names %}
        {{ area }}<br>
        {% endfor %}

      </div>
    </div>
  </div>
</div>