---
layout: default
---
<header class="bck padding-top padding-bottom">
  <div class="row">
    <div class="column_8">
      <img class="logo on-left" src="/img/hikr.png" alt="Hikr">
      <h2 class="text">Guide</h2>
    </div>
    <div class="column_4">
      <h5 class="text right hide-phone">
      <a class="icon twitter" href="https://twitter.com/hikr_jp" target="_blank">&nbsp;</a>
      </h5>
    </div>
  </div>
</header>

{{content}}

<footer class="bck dark padding">
  <div class="row margin-top margin-bottom">
    <div class="column_5">
      <strong>hikr.jp</strong> Hiking. With friends.
    </div>
    <div class="column_7 text right">
      &copy; 2013 Hikr.jp
    </div>
  </div>
</footer>