---
layout: guide
---


<div class="map-on-left">
  <div id="map">
  </div>

  <div class="article-container">
    <ul class="tabs">
      <li class="tab article"><a href="#article" class="icon-file-text"></a></li>
      <li class="tab elevation"><a href="#elevation" class="icon-bar-chart"></a></li>
      <li class="tab schedule"><a href="#schedule" class="icon-calendar"></a></li>
      <li class="tab weather"><a href="#weather" class="icon-cloud"></a></li>
      <li class="tab comments"><a href="#comments" class="icon-comments"></a></li>
    </ul>
    <div class="tab-content">
      <div id="comments">
        {% include comments.html %}
      </div>
      <div id="article">
        {% include article.html %}
      </div>
      <div id="weather">
      </div>
      <div id="schedule">
      </div>
      <div id="elevation"></div>
    </div>

  </div>

</div>
 <script type="text/javascript">
  window.onload = function(){
    var maps = [ {% for url in page.map %} "{{url}}", {% endfor %} false];
    hikr = new Hikr("map");
    hikr.loadMaps(maps);

    var hashChanged = function(){
      var target = window.location.hash;
      $('.tab-content > div').hide();
      $('.tab-content '+target).show();
      $('.tabs .active').removeClass('active');
      $('.tabs .'+target.replace(/\#/,'') ).addClass('active');
      return false;
    }

    window.onhashchange = hashChanged;

    hashChanged();

  };
 </script>