---
layout: default
---

<div class="map-on-left">
{% if page.map %}
<div id="map"></div>
{% endif %}

  <div class="column">
      {% if page.hero %}
      <div class="header hero">
        <img src="{{page.hero}}" alt=""/>
        <h1>{{ page.title }}</h1>
      {% else %}
      <div class="header">
        <h1>{{ page.title }}</h1>
      {% endif %}
      </div>

      <div class="info">
        <div class="listing">
        
        </div>
        <div class="plot"><div id="plot"></div>
        </div>
      </div>
          <div class="article">

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520873ed40bfdc8e"></script><br>
<!-- AddThis Button END -->
        {% if page.info %}
        <div class="infobox">
          <ul>
            {% if page.info.author %} <li><strong>author</strong>: {{page.info.author}}</li> {% endif %}
            {% if page.info.license %} <li><strong>license</strong>: {{page.info.license}}</li> {% endif %}
            {% if page.info.level %} <li><strong>level</strong>: {{page.info.level}}</li> {% endif %}
            {% if page.info.time %} <li><strong>walking time</strong>: {{page.info.time}}</li> {% endif %}
          </ul>
          {% for tag in page.tags %}
            <span class="badge">{{tag}}</span>
          {% endfor %}
        </div>
        {% endif %}

      {{ content }}
        

  </div>
</div>
